{% extends 'controle_estagios/base.html' %}

{% block body %}
    <div class="container">
        <br>
        <h3>Cadastro de Cursos</h3>
        <form method="post" action="">
            {% csrf_token %}
            <div class="form-group">
                <label>Nome: </label>
                {{ form.nome }}
                {{ form.nome.errors }}
            </div>
            <br>
            <a href="{% url 'controle_estagios:list_cursos' %}" class="btn btn-danger btn-lg"><strong><i class="fas fa-angle-double-left"></i> Voltar</strong></a>
            <button type="submit" class="btn btn-primary btn-lg"><strong>Salvar <i class="fas fa-check-double"></i></strong></button>
        </form>
    </div>
{% endblock %}